@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');


.sidebar{
  position: fixed;
  width: 70px;
  left: -240px;
  height: auto;
  top: 360px;
  background: hsl(0, 7%, 19%);
  transition: all .5s ease;
  z-index: 2;
}

.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-left: -10px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  margin-left: 23px;
  opacity: 0;
  visibility: hidden;
}

.sidebar a:hover span{
  opacity: 1;
  visibility: visible;
}

a:hover {
  width: 200px;
  background: inherit;
}

#check{
  display: none;
}
label #btn,label #cancel{

  position: absolute;
  bottom: 400px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
  z-index: 2;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 155px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
/* Don't Forget to Subscribe our Channel[CodingNepal] */
