body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #292626;
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

nav .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  -webkit-transform: scale(0.45);
          transform: scale(0.45);
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 100vw;
  height: 100vh;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: -10vh !important;
  -webkit-filter: drop-shadow(20px 10px 15px #000000);
          filter: drop-shadow(20px 10px 15px #000000);
  opacity: 0.5;
}

.rock1 img {
  width: 50%;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.text {
  font-family: 'Nerko One', cursive !important;
  font-size: 4vw;
  color: #f8f8f8;
  letter-spacing: 10px;
  position: absolute;
  top: 15vh;
  left: 50vw;
  outline-color: black;
  animation: mymove 3s;
}

@keyframes mymove {
  from{left: -100px;
  opacity: 0;}
  to {left: 0px;
  opacity: 1;}
}

.sub {
  font-size: 1vw;
  color: gray;
  letter-spacing: 1px;
  position: relative;
  left: 10vw;
}


.main img {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50vw;
  top: 5vh;
  z-index: 4;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  animation: myrocket 3s;
}

@keyframes myrocket{
  from{
  opacity: 0;}
  to{
  opacity: 1;}
}

.mid {
  left: 100px !important;
  bottom: -230px !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -20px;
  top: 20vh !important;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 1000px;
  height: 110vh;
  z-index: 3;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.wrapper {
  padding: 1em;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: auto;
}


ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  
}

ul.transition li {
  
  transform: scaleY(0);
  background:#2a2826;;
  width: 20%;
}


@media (max-width: 860px) {
  .earth img {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 44vw;
    top: 5vh;
    z-index: 1;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
  }
}
